<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,371},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>arrow_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,342},{17,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{17,27}}</string>
			<key>sourceSize</key>
			<string>{17,27}</string>
		</dict>
		<key>world1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{288,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{288,96}}</string>
			<key>sourceSize</key>
			<string>{288,96}</string>
		</dict>
		<key>world1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,100},{240,240}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{240,240}}</string>
			<key>sourceSize</key>
			<string>{240,240}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>maps.pvr.ccz</string>
		<key>size</key>
		<string>{512,512}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f55634abd352a089b92ecc16670f7a93$</string>
		<key>textureFileName</key>
		<string>maps.pvr.ccz</string>
	</dict>
</dict>
</plist>
