<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>arrow_left.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,734},{34,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,54}}</string>
			<key>sourceSize</key>
			<string>{34,54}</string>
		</dict>
		<key>arrow_right.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,678},{34,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,54}}</string>
			<key>sourceSize</key>
			<string>{34,54}</string>
		</dict>
		<key>world1_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{576,192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{576,192}}</string>
			<key>sourceSize</key>
			<string>{576,192}</string>
		</dict>
		<key>world1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,196},{480,480}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{480,480}}</string>
			<key>sourceSize</key>
			<string>{480,480}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>maps-hd.pvr.ccz</string>
		<key>size</key>
		<string>{1024,1024}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:1fbe22010602e81d95f686e179f9f633$</string>
		<key>textureFileName</key>
		<string>maps-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
