<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blue_turret1</key>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>baseHP</key>
		<integer>200</integer>
		<key>baseRange</key>
		<integer>200</integer>
		<key>baseRPM</key>
		<integer>90</integer>
		<key>baseDmg</key>
		<integer>10</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>blue_turret1.png</string>
		</array>
		<key>turret</key>
		<string>blue_turret1.png</string>
		<key>bullet</key>
		<string>blue_turret1_bullet.png</string>
	</dict>
	<key>red_turret1</key>
	<dict>
		<key>type</key>
		<integer>0</integer>
		<key>baseHP</key>
		<integer>200</integer>
		<key>baseRange</key>
		<integer>200</integer>
		<key>baseRPM</key>
		<integer>90</integer>
		<key>baseDmg</key>
		<integer>10</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>red_turret1.png</string>
		</array>
		<key>turret</key>
		<string>red_turret1.png</string>
		<key>bullet</key>
		<string>red_turret1_bullet.png</string>
	</dict>
	<key>blue_tank1</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>baseHP</key>
		<integer>5</integer>
		<key>baseSpeed</key>
		<integer>60</integer>
		<key>baseRange</key>
		<integer>100</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>1</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>blue_tank_base.png</string>
			<string>blue_tank_base2.png</string>
			<string>blue_tank_base3.png</string>
			<string>blue_tank_base4.png</string>
		</array>
		<key>turret</key>
		<string>blue_tank_gun.png</string>
		<key>bullet</key>
		<string>blue_tank_bullet.png</string>
	</dict>
	<key>red_tank1</key>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>baseHP</key>
		<integer>5</integer>
		<key>baseSpeed</key>
		<integer>60</integer>
		<key>baseRange</key>
		<integer>100</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>1</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>red_tank_base.png</string>
			<string>red_tank_base2.png</string>
			<string>red_tank_base3.png</string>
			<string>red_tank_base4.png</string>
		</array>
		<key>turret</key>
		<string>red_tank_gun.png</string>
		<key>bullet</key>
		<string>red_tank_bullet.png</string>
	</dict>
	<key>tank1</key>
	<dict>
		<key>type</key>
		<integer>100</integer>
		<key>baseHP</key>
		<integer>5</integer>
		<key>baseSpeed</key>
		<integer>45</integer>
		<key>baseRange</key>
		<integer>100</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>1</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>tank1_base.png</string>
			<string>tank1_base2.png</string>
			<string>tank1_base3.png</string>
			<string>tank1_base4.png</string>
		</array>
		<key>turret</key>
		<string>tank1_gun.png</string>
		<key>bullet</key>
		<string>tank1_bullet.png</string>
	</dict>
	<key>shadow</key>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>baseHP</key>
		<integer>30</integer>
		<key>baseSpeed</key>
		<integer>60</integer>
		<key>baseRange</key>
		<integer>150</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>5</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>shadow_base.png</string>
			<string>shadow_base2.png</string>
			<string>shadow_base3.png</string>
		</array>
		<key>turret</key>
		<string>shadow_gun.png</string>
		<key>bullet</key>
		<string>shadow_bullet.png</string>
	</dict>
	<key>flash</key>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>baseHP</key>
		<integer>30</integer>
		<key>baseSpeed</key>
		<integer>150</integer>
		<key>baseRange</key>
		<integer>150</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>5</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>flash_base.png</string>
			<string>flash_base2.png</string>
			<string>flash_base3.png</string>
			<string>flash_base4.png</string>
		</array>
		<key>turret</key>
		<string>flash_gun.png</string>
		<key>bullet</key>
		<string>flash_bullet.png</string>
	</dict>
	<key>blaze</key>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>baseHP</key>
		<integer>30</integer>
		<key>baseSpeed</key>
		<integer>100</integer>
		<key>baseRange</key>
		<integer>150</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>5</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>blaze_base.png</string>
			<string>blaze_base2.png</string>
			<string>blaze_base3.png</string>
			<string>blaze_base4.png</string>
		</array>
		<key>turret</key>
		<string>blaze_gun.png</string>
		<key>bullet</key>
		<string>blaze_bullet.png</string>
	</dict>
	<key>iceberg</key>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>baseHP</key>
		<integer>30</integer>
		<key>baseSpeed</key>
		<integer>100</integer>
		<key>baseRange</key>
		<integer>150</integer>
		<key>baseRPM</key>
		<integer>60</integer>
		<key>baseDmg</key>
		<integer>5</integer>
		<key>radius</key>
		<integer>16</integer>
		<key>projSpeed</key>
		<integer>100</integer>
		<key>base_strings</key>
		<array>
			<string>iceberg_base.png</string>
			<string>iceberg_base2.png</string>
			<string>iceberg_base3.png</string>
			<string>iceberg_base4.png</string>
		</array>
		<key>turret</key>
		<string>iceberg_gun.png</string>
		<key>bullet</key>
		<string>iceberg_bullet.png</string>
	</dict>
</dict>
</plist>
