<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basic_map</key>
	<dict>
		<key>blue_bot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>36</integer>
			</dict>
		</array>
		<key>blue_mid</key>
		<array>
			<dict>
				<key>x</key>
				<integer>7</integer>
				<key>y</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>21</integer>
				<key>y</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>blue_top</key>
		<array>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>8</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
		</array>
		<key>red_bot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>25</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>36</integer>
			</dict>
		</array>
		<key>red_mid</key>
		<array>
			<dict>
				<key>x</key>
				<integer>52</integer>
				<key>y</key>
				<integer>20</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>39</integer>
				<key>y</key>
				<integer>20</integer>
			</dict>
		</array>
		<key>red_top</key>
		<array>
			<dict>
				<key>x</key>
				<integer>55</integer>
				<key>y</key>
				<integer>15</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>51</integer>
				<key>y</key>
				<integer>3</integer>
			</dict>
		</array>
	</dict>
	<key>long_map</key>
	<dict>
		<key>blue_bot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>4</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
		</array>
		<key>blue_top</key>
		<array>
			<dict>
				<key>x</key>
				<integer>12</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>12</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
		</array>
		<key>red_bot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>31</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
		</array>
		<key>red_top</key>
		<array>
			<dict>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>23</integer>
				<key>y</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
