<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>long_map</key>
	<dict>
		<key>WaypointsTop</key>
		<array>
			<dict>
				<key>x</key>
				<integer>151</integer>
				<key>y</key>
				<integer>225</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>420</integer>
				<key>y</key>
				<integer>225</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>414</integer>
				<key>y</key>
				<integer>352</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>674</integer>
				<key>y</key>
				<integer>352</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>161</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>992</integer>
				<key>y</key>
				<integer>164</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1312</integer>
				<key>y</key>
				<integer>163</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1630</integer>
				<key>y</key>
				<integer>164</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1631</integer>
				<key>y</key>
				<integer>350</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1891</integer>
				<key>y</key>
				<integer>352</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1892</integer>
				<key>y</key>
				<integer>226</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>2141</integer>
				<key>y</key>
				<integer>230</integer>
			</dict>
		</array>
		<key>WaypointsBot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>160</integer>
				<key>y</key>
				<integer>541</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>415</integer>
				<key>y</key>
				<integer>544</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>413</integer>
				<key>y</key>
				<integer>416</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>675</integer>
				<key>y</key>
				<integer>423</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>674</integer>
				<key>y</key>
				<integer>611</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>990</integer>
				<key>y</key>
				<integer>609</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1320</integer>
				<key>y</key>
				<integer>614</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1641</integer>
				<key>y</key>
				<integer>617</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1632</integer>
				<key>y</key>
				<integer>426</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1891</integer>
				<key>y</key>
				<integer>422</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1888</integer>
				<key>y</key>
				<integer>545</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>2150</integer>
				<key>y</key>
				<integer>549</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>
