<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>long_map</key>
	<dict>
		<key>WaypointsTop</key>
		<array>
			<dict>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>111</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>208</integer>
				<key>y</key>
				<integer>112</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>175</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>340</integer>
				<key>y</key>
				<integer>175</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>337</integer>
				<key>y</key>
				<integer>81</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>78</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>657</integer>
				<key>y</key>
				<integer>79</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>80</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>815</integer>
				<key>y</key>
				<integer>175</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>946</integer>
				<key>y</key>
				<integer>176</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>949</integer>
				<key>y</key>
				<integer>111</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1071</integer>
				<key>y</key>
				<integer>111</integer>
			</dict>
		</array>
		<key>WaypointsBot</key>
		<array>
			<dict>
				<key>x</key>
				<integer>79</integer>
				<key>y</key>
				<integer>273</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>207</integer>
				<key>y</key>
				<integer>271</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>206</integer>
				<key>y</key>
				<integer>209</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>341</integer>
				<key>y</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>338</integer>
				<key>y</key>
				<integer>303</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>497</integer>
				<key>y</key>
				<integer>306</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>658</integer>
				<key>y</key>
				<integer>307</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>820</integer>
				<key>y</key>
				<integer>305</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>818</integer>
				<key>y</key>
				<integer>210</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>945</integer>
				<key>y</key>
				<integer>211</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>948</integer>
				<key>y</key>
				<integer>271</integer>
			</dict>
			<dict>
				<key>x</key>
				<integer>1072</integer>
				<key>y</key>
				<integer>273</integer>
			</dict>
		</array>
	</dict>
</dict>
</plist>

